<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        .wrapper-text {
            line-height: 1.5rem;
            flex: 1;
        }

        .wrapper-img {
            flex: 1;
        }

        .img {
            object-fit: contain;
        }
    </style>
</head>
<body>
    <div class="container">
            <div class="wrapper-text">
                <h3 class="fw-bold lh-2">500 Internal Error</h3>
                <h1 class="display-lg fw-bold lh-2">Whoops! Something went wrong.</h1>
                <p class="lh-3">Here are some helpful links:</p>

                <div>
                    <button class="btn btn-primary mt-3 py-2 px-2 rounded">Go back home</button>
                </div>
            </div>

            <div class="wrapper-img">
                <img th:src="@{/resources/images/404.svg}" alt="404 image" class="img">
            </div>
    </div>
</body>
</html>