<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Admin Auth</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<div class="container" style="max-width: 500px; margin-top: 100px;">
    <div layout:fragment="auth_content">
        <!--        Auth screens goes here-->
        <p>Default page</p>
    </div>
</div>

<!--Bootstrap Js Bundle with Popper-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>