<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Dashboard</title>
    <link rel="stylesheet" th:href="@{/resources/styles/global/index.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/global/avatar.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/global/button.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/global/typography.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/global/form.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/admin/index.css}">
    <link rel="stylesheet" th:href="@{/resources/styles/admin/table.css}">
</head>
<body data-theme="light">

<div class="app-container">
    <!-- Sidebar on the left -->
    <aside th:replace="~{admin/fragments/sidebar :: sidebar(currentPage=${currentPage})}"></aside>

    <!-- Main panel -->
    <div class="main-content">
        <!-- AppBar at the top -->
        <header th:replace="~{admin/fragments/appbar :: appbar}"></header>

        <!-- Main content section from the child template -->
        <div layout:fragment="content"></div>

        <!-- Footer at the bottom -->
        <footer th:replace="~{admin/fragments/footer :: footer}" class="mt-auto"></footer>

    </div>
</div>

<script th:src="@{/webjars/chartjs/chart.umd.js}"></script>
<script th:src="@{/webjars/feather-icons/dist/feather.min.js}"></script>
<script th:src="@{/resources/js/global/darkmode.js}"></script>
<script th:src="@{/resources/js/admin/index.js}"></script>
<script>
    feather.replace();
</script>
</body>
</html>
