<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layouts/main.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/styles/footer.css}">
</head>
<body>
<div layout:fragment="content">
    <!--  Appbar  -->
    <header></header>
    <!--  Content  -->
    <main></main>
    <!-- Footer   -->
    <footer th:replace="~{customer/components/footer :: footer}">Default footer content</footer>
</div>
</body>
</html>