<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ecommerce/layouts/main.html}">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
</head>
<body>
<div layout:fragment="content" class="flex column min-h-screen">
    <div style="text-align: center; margin-bottom: 2rem;">
        <h1 style="margin: 0 0 0.5rem 0; color: #111827; font-size: 2rem;">Checkout</h1>
        <span style="margin: 0; color: #6b7280; font-size: 1.1rem;">Complete your purchase in a few simple steps</span>
    </div>

<!--    Stepper Navigation-->
    <th:block th:replace="components/stepper :: stepper-nav(steps=${steps}, currentStep=${currentStep})"></th:block>

<!--    Stepper Content-->
    <th:block th:replace="components/stepper_content :: stepper-content(steps=${steps}, currentStep=${currentStep})"></th:block>

<!--    Stepper Actions-->
    <th:block th:replace="components/stepper-actions :: stepper-actions(steps=${steps}, currentStep=${currentStep})"></th:block>

<!--    Stepper Configuration-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.stepperConfig = {
            currentStep: /*[[${currentStep}]]*/ 0,
            totalSteps: /*[[${steps.size()}]]*/ 4
        };
        /*]]*/
    </script>
</div>
</body>
</html>