<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="appbar" class="app-bar">
    <div class="app-bar-left">
        <button class="sidebar-toggle">
            <i data-feather="menu"></i>
        </button>
        <h1 class="app-title">Dashboard</h1>
    </div>

    <div class="app-bar-right">
        <div class="search-bar">
            <i data-feather="search" class="search-icon"></i>
            <input type="text" class="search-input" placeholder="search" aria-label="">
        </div>

        <div class="app-bar-actions">
            <button class="action-btn">
                <i data-feather="bell"></i>
                <span class="badge">3</span>
            </button>

            <button class="action-btn menu-wrapper-relative" th:attr="data-menu-id='admin-notification-menu'" onclick="toggleMenu(this)">
                <i data-feather="mail"></i>
                <span class="badge">4</span>

                <div th:insert="~{base/fragments/menu :: menu('admin-notification-menu', ~{admin/fragments/notifications})}">Hello</div>
            </button>

            <button class="theme-toggle" id="themeToggle">
                <i data-feather="sun"></i>
            </button>
        </div>

        <div th:insert="~{base/fragments/avatar :: avatar(
                'admin-avatar-menu',
                 @{/resources/images/profile.jpg},
                  ~{base/fragments/menu :: menu('admin-avatar-menu', ~{admin/fragments/avatarMenu})}
                  )}">
        </div>
    </div>
</div>
</body>
</html>