<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="iconButton(icon, bg, iconColor, rounded, size)">
    <div th:with="
            isSvg=${icon != null and icon.startsWith('@')},
            isFeather=${icon != null and icon.startsWith('feather:')},
            isTabler=${icon != null and icon.startsWith('tabler:')},
            iconValue=${icon != null} ? ${icon.substring(icon.indexOf(':') + 1)} : ${icon}
        ">
        <div th:class="'inline-flex justify-center items-center ' + ${rounded} + ' ' + ${bg} + ' ' + ${size}">

            <!-- Feather Icon -->
            <i th:if="${isFeather}"
               th:attr="data-feather=${iconValue}"
               th:class="'size-5 ' + ${iconColor}"></i>

            <!-- Tabler Icon -->
            <i th:if="${isTabler}"
               th:class="'ti ti-' + ${iconValue} + ' size-5 ' + ${iconColor}"></i>

            <!-- SVG Image -->
            <img th:if="${isSvg}" th:src="${icon.substring(1)}" th:alt="icon"
                 th:class="'size-5 ' + ${iconColor}"/>
        </div>
    </div>
</div>

</body>
</html>