<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar" class="light border-right shadow-md" id="sidebar-wrapper" style="box-shadow: 4px 6px 10px #888888;">
    <div class="sidebar-heading text-white">
        <i class="fas fa-cog me-2"></i> Admin Panel
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <h4 class="my-5">Configs</h4>
        <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fas fa-users me-2"></i> Users
        </a>
        <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fas fa-box me-2"></i> Products
        </a>
        <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fas fa-chart-bar me-2"></i> Analytics
        </a>
        <a href="#" class="list-group-item list-group-item-action text-muted">
            <i class="fas fa-cog me-2"></i> Settings
        </a>
    </div>
</div>
</body>
</html>