<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="header" class="appbar">
    <div class="appbar-container">
        <a href="#" class="logo">
            <i class="ti ti-basket"></i>
            <span>VinduRustic</span>
        </a>
        <ul class="nav-links">
            <li><a href="#" data-page="home">Home</a></li>
            <li><a href="#" data-page="furniture">Furniture</a></li>
            <li><a href="#" data-page="lighting">Lighting</a></li>
            <li><a href="#" data-page="decor">Decor</a></li>
            <li><a href="#" data-page="kitchen-bath">Kitchen & Bath</a></li>
            <li><a href="#" data-page="sale">Sale</a></li>
        </ul>

        <div class="nav-icons">
            <i data-feather="search"></i>
            <i data-feather="user"></i>
            <div class="cart-icon">
                <i data-feather="shopping-cart"></i>
                <span class="cart-count">3</span>
            </div>
            <button class="mobile-menu-btn">
                <i data-feather="menu"></i>
            </button>
        </div>
    </div>
</div>
</body>
</html>