<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Vindu Rustic</title>

    <!-- Prevent FOUC (Flash of Unstyled Content) on theme switch -->
    <script>
        (function () {
            const theme = localStorage.getItem('theme') ||
                (window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>

    <style>
        /* Prevent scrollbars while loader is active */
        html.is-loading, html.is-loading body {
            overflow: hidden !important;
        }
    </style>

    <script>
        document.documentElement.classList.add('is-loading');
    </script>

    <link rel="stylesheet" th:href="@{/webjars/tabler-icons/iconfont/tabler-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/styles/global/main.css}">

    <script th:src="@{/resources/js/global/tailwind.js}"></script>
</head>
<body>
<div th:replace="~{ecommerce/components/page-loader :: loader}"></div>
<div layout:fragment="content"></div>

<script th:src="@{/webjars/feather-icons/dist/feather.min.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        feather.replace();
    });
</script>
<script th:src="@{/resources/js/global/loader.js}"></script>
<script th:src="@{/resources/js/global/darkmode.js}"></script>
<script th:src="@{/resources/js/global/navigation.js}"></script>
</body>
</html>