<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <dialog th:fragment="dialog(id, content)" th:id="${id}">
        <form method="dialog">
            <div th:replace="${content}">Default dialog content</div>
            <div class="w-full flex row justify-end items-center gap-3">
                <button id="cancelBtn" class="btn" onclick="closeDialog('custom-orders-dialog')">Cancel</button>
                <button id="confirmBtn" class="btn" onclick="closeDialog('custom-orders-dialog')">Confirm</button>
            </div>
        </form>
    </dialog>
</body>
</html>