<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="drawer(id, position, width, height, title)"
         th:id="${id} + '-drawer-container'"
         class="drawer-container"
         th:attr="data-position=${position},
                  data-width=${width},
                  data-height=${height},
                  data-title=${title}">

        <div class="drawer-backdrop" th:id="${position + '-backdrop'}"></div>

        <div th:id="${id}"
             th:classappend="'drawer drawer-' + ${position}">

            <div class="drawer-header">
                <h3 th:text="${!#strings.isEmpty(title)} ? ${title} : ${id} + ' Drawer'">Drawer title</h3>
                <button class="drawer-close">
                    <i data-feather="x"></i>
                </button>
            </div>

            <div class="drawer-body">
                <div th:id="${id} + '-content'">
                    <p>Loading content for <span th:text="${id}"></span> drawer...</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <body>
    <div
      th:fragment="drawer(position, width, height, title, content)"
      th:id="${position} + '-drawer'"
      class="drawer-container"
      th:attr="data-position=${position},
                  data-width=${width},
                  data-height=${height},
                  data-title=${title}"
    >
      <!-- Backdrop -->
      <div class="drawer-backdrop" th:id="${position} + '-backdrop'"></div>

      <!-- Drawer -->
      <div th:classappend="'drawer drawer-' + ${position}">
        <!-- Drawer header -->
        <div class="drawer-header">
          <h3
            th:text="${!#strings.isEmpty(title)} ? ${title} : ${id} + ' Drawer'"
          >
            Drawer title
          </h3>
          <button class="drawer-close-btn">
            <i data-feather="x"></i>
          </button>
        </div>

        <!-- Drawer body -->
         <div class="drawer-body">
                <th:block th:replace="${content}">
                    <p>Loading content for drawer...</p>
                </th:block>
            </div>
      </div>
    </div>
  </body>
</html>
