<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{auth/index.html}">
<body>
    <div layout:fragment="auth-content">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-4">
                <form th:action="@{/signup}" method="post">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control py-2" id="email" name="email"
                               placeholder="Enter your email" required>
<!--                               th:value="${formData.email}">-->
                    </div>
                    <button type="submit" class="btn w-full py-2 rounded font-bold">
                        Send Verification
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>